<footer class="site-footer h-card">
  <data class="u-url" href="{{ "./" }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="footer-heading">{{ site.title | escape }}</p>
        <p>{{- site.description | escape -}}</p>
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          <li><a href="https://distributed.press">distributed.press</a> | <a class="u-email" href="https://hypha.coop">hypha.coop</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        Social Web
        <p>{%- include social.html -%}</p>
        Distributed Web
        <ul class="contact-list">
          {%- if site.dweb.schemes.hyper -%}
          <li><a href="{{- site.dweb.gateways.hypercore | escape -}}/{{- site.dweb.schemes.hyper | escape -}}/">hyper://{{- site.dweb.schemes.hyper | escape -}}</a></li>
          {%- endif -%}
          {%- if site.dweb.schemes.ipns -%}
          <li><a href="{{- site.dweb.gateways.ipfs | escape -}}/ipns/{{- site.dweb.schemes.ipns | escape -}}/">ipns://{{- site.dweb.schemes.ipns | escape -}}</a></li>
          {%- endif -%}
        </ul>
      </div>
    </div>

  </div>

</footer>
