<nav>
  <!-- <a href="{{ site.baseurl }}/none/">None</a> -->
  &#8226;<a href="/">call for pitches</a>&#8226;<a href="/about">about</a>&#8226;
  {% if site.twitter %}<a class="fab fa-twitter" href="{{ site.twitter }}" {% if site.social-icons-open-newtab %}target="_blank"{% endif %}></a>{% endif %}
  {% if site.github %}<a class="fab fa-github" href="{{ site.github }}" {% if site.social-icons-open-newtab %}target="_blank"{% endif %}></a>{% endif %}
  {% if site.email %}<a class="fa fa-envelope" href="{{ site.email }}" {% if site.social-icons-open-newtab %}target="_blank"{% endif %}></a>{% endif %}
</nav>
